<?xml version="1.1" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<barcode>
			<general>
				<enabled>yes</enabled>
				<attribute_barcode>product_code</attribute_barcode>
			</general>
			<print_setting>
				<tmp_path>lof/barcode/upload/tmp</tmp_path>
				<base_path>lof/barcode/upload</base_path>
			</print_setting>
			<design>
                <barcode_label_css>.barcode_paper{ width: 350px; float: left; margin: 10px;} .barcode_paper .row{ text-align: center; margin: 7px; }</barcode_label_css>
				<barcode_label_content><![CDATA[<div class='barcode_paper'>
	<div class='row'><b>{{product_name}}</b></div>
	<div class='row'>{{barcode}}</div>
	<div class='row'><b>{{product_sku}}</b></div>
	<div class='row'><b>{{product_price}}</b></div>
	<div class='row'><b>{{barcode_number}}</b></div>
</div>]]></barcode_label_content>
			</design>
		</barcode>
	</default>

</config>
